.App {
  text-align: center;
  height: 100vh;
}

.box {
  float: left;
  width: 37%;
  margin: 0 2%;
  text-align: left;
  padding: 3%;
  border: 1px solid #a900ff4f;
  border-radius: 3px;
  height: 25%;
  display: flex;
  flex-wrap: wrap;
}