.App {
  text-align: center;
  height: 100vh;
}

.box {
  width: 75%;
  margin: 5% auto;
  text-align: left;
  padding: 3%;
  border: 1px solid #a900ff4f;
  border-radius: 3px;
  height: 35%;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}